*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    color: rgb(18, 56, 27);
}
#myWordCloud{
    padding: 20px;
    background-color: aqua;
    height: 400px;
    width: 60%;
    margin-inline: auto;
}